@import "custom/pages"

/* 侧边栏小工具间距调整 */
.widget-wrap
  margin: 15px 0  !important  // 减小上下间距

.widget
  margin-bottom: 20px !important  // 减小小工具底部间距

// 如果有特定的小工具类型，可进一步调整
.widget_categories,
.widget_tags,
.widget_tagcloud,
.widget_archive,
.widget_recent_entries
  margin-bottom: 15px !important
